/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom CSS Variables */
:root {
    --color-bg-header: #0D0D0D;
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'System UI', sans-serif;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
#custom-titlebar {
    height: 30px;
    background-color: var(--color-bg-header);
    color: #fff;
    border-bottom: 1px solid #292727;
    display: flex;
    /* Utilisez flex pour aligner le contenu du titre */
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.left {
    display: flex;
    align-items: center;
    pointer-events: none;
    user-select: none;
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;
}

.left p {
    margin-left: 10px;
}

.left img {
    width: 20px;
    height: 20px;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
    pointer-events: all;
    user-select: none;
}

.icon-container {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container:hover {
    background-color: #0487D9;
}

.icon-container svg {
    width: 18px;
    height: 18px;
    color: #fff;
}

/* Main Content Wrapper */
.content-wrapper {
    overflow: hidden;
    clear: both;
    display: flex;
    flex: 1;
}

.siderbar-contenaire {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}

/* Sidebar Styles */
.sidebar {
    width: 50px;
    background-color: #0D0D0D;
    border-right: 1px solid #292727;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    float: left;
}

.sidebar svg {
    width: 30px;
    height: 30px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar .active svg {
    color: #0487D9;
}

.sidebar svg:hover {
    color: #0487D9;
}

/* Centrer_background_fff_dessin Styles */
.centrer_background_fff_dessin {
    background-color: #fff;
    margin: 0 auto;
    border: 2px solid transparent;
    transition: border 0.2s;
    color: #0D0D0D;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px;
}

.centrer_background_fff_dessin svg {
    color: #0D0D0D;
}

.resize-handle {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.centrer_background_fff_dessin.resizable-hover {
    border: 2px solid #0487D9;
}

/* Sidebar Settings and Forme */
#sidebar-forme,
#sidebar-settings {
    width: 100%;
    color: #fff;
    background-color: #0D0D0D;
    border-right: 1px solid #292727;
    height: 100%;
    position: relative;
    float: left;
    user-select: none;
}
#sidebar-settings {
    text-align: center;
}
#sidebar-forme p,
#sidebar-settings p {
    pointer-events: none;
    padding: 10px;
    border-bottom: 1px solid #292727;
    width: 100%;
}

#sidebar-forme label,
#sidebar-settings label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#sidebar-forme input,
#sidebar-settings input {
    margin-right: 10px;
    border: 1px solid #292727;
    background-color: #0D0D0D;
    color: #fff;
    padding: 5px;
    width: 80%;
    transition: 0.2s;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'System UI', sans-serif;
}

#sidebar-forme p{
    text-align: center;
}

#sidebar-forme svg:hover{
    color: #0487D9;
    border: 1px solid #0487D9;
}

#sidebar-settings input:focus {
    border: 1px solid #0487D9;
}

/* Selection Box Styles */
.selection-box {
    position: absolute;
    background-color: rgba(4, 135, 217, 0.3);
    border: 2px solid #0487D9;
    pointer-events: none;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.active_svg {
    border-left: 1px solid #292727;
}

.active_svg path {
   color: #0487D9;
}


.image_de_fond{
    background-color: #1F1F1F;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.image_de_fond:hover{
    background-color: #292727;
}